h2{
    text-align: center;
}

.resume{
    margin: -10px;
    padding: 0px;
    margin-right: 0px;
    padding-right: 0px;

}

@media (max-width: 960px) and (min-width: 501px) {
    li { width: 50%; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
    img { width: 50%; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
    p { width: 50%; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
    li { width: 100%; } /* On small screens, show one logo per row */
    img { width: 100%; } /* On small screens, show one logo per row */
    p { width: 100%; } /* On small screens, show one logo per row */
}

@media (max-width: 960px) {

    li {
         display: inline-block;
     }

    p {
        display: inline-block;
    }

    img {
        display: inline-block;
    }
}

.header{
    display: inline;
}

.github{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 8px;
}

.tech{
    float: left;
    clear: both;
    /*display: list-item;
    list-style: disc; */
}

.intern{
    clear: both;
    padding-top: 5px;
}

.gmail{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.home{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 5px;
}

.phone{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 10px;
}