li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: inline;
}

.homep{
    text-align: center;
}

body {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    /*background-image: url("../HomePage/backdrop.jpg"); */
}

h1{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

h2{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.jordan{
    width: 550px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    height:20px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}

@media (max-width: 500px) {
    img { max-width: 100%;
        height: auto; } /* On small screens, show one logo per row */
    p{
        width: 100%;
    }
}

@media (max-width: 960px) and (min-width: 501px) {

    img {

        max-width: 100%;
        height: auto;
    } /* On small screens, show one logo per row */
    p{
        width: 100%;
        display: inline-block;
    }

}